.navigation-popup {
  display: flex;
  position: relative;
  width: 100vw;
  height: 1024px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: visible;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

.navigation-popup__container {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 159px;
  padding-bottom: 90px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  background: rgba(32, 32, 32, 1);
  z-index: 2;
}

.navigation-popup__links {
  list-style: none;
}

.navigation-popup__links:last-of-type {
  margin-top: auto;
  height: 32px;
}

.navigation-popup__link {
  max-width: 340px;
  padding-bottom: 6px;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 18px;
}
 
.navigation-popup__link_active {
  border-bottom: 2px solid #FFF;
}

.navigation-popup__button-profile {
  width: 100px;
  height: 32px;
  background-image: url(../../images/profile_black.svg);
}

.navigation-popup__button-close {
  position: absolute;
  top: 26px;
  right: 26px;
  z-index: 2;
}


@media (max-width: 424px) {
  .navigation-popup__container {
    width: 100%;
    padding-top: 144px;
    padding-bottom: 46px;
  }
  .navigation-popup__link {
    max-width: 300px;
    padding-bottom: 7px;
    margin-bottom: 23px;
  }
  .navigation-popup__button-close {
    top: 18px;
    right: 18px;
  }
}

