.app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

a,button:hover {
  cursor: url(../../images/pointer.svg) 10 1, default;
  opacity: .7;
}

.text {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.text_narrow {
  letter-spacing: -.04em;
}

@media (max-width: 768px) {
  .app {
      max-width: 768px;
  }
}

@media (max-width: 424px) {
  .app {
      max-width: 320px;
  }
}