.cards {
  width: 100%;
  margin: 70px auto 10px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  column-gap: 24px;
  row-gap: 37px;
  justify-items: center;
}

.cards_on_saved-movies {
  margin: 70px auto 247px;
}

@media (max-width: 900px) {
  .cards {
    margin: 70px auto 30px;
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
  }
  .cards_on_saved-movies {
    margin: 70px auto 170px;
  }
}

@media (max-width: 424px) {
  .cards {
    margin: 40px auto 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 14px;
  }
  .cards_on_saved-movies {
    margin: 40px auto 166px;
  }
}