.button-delete {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 30px;
  min-height: 30px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../../images/button-delete.svg);
}

