.search-form {
  display: flex;
  min-height: 248px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
} 

.search-form__input {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
  background-color: inherit;
}

.search-form__input:last-of-type {
  margin-bottom: 70px;
}

.search-form__search-field {
  width: 100%;
  height: 46px;
  border-radius: 40px;
  padding: 0;
  border: none;
  background-color: #2F2F2F;
  text-indent: 22px;
  font-size: 13px;
  line-height: 1.31;
  color: #fff;
}



.search-form__search-field:focus {
  outline: #4285F4 solid 1px;
  }

.search-form__button {
  position: absolute;
  right: 6px;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 80px;
  min-height: 34px;
  background-image: url(../../../images/search-form_button.svg);
  background-color: inherit;
  background-repeat: no-repeat;
}

.search-form__error {
  visibility: hidden;
  position: absolute;
  top: 60px;
  height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  color: #EE3465;
}

.search-form__error_visible {
  visibility: visible;
}

.search-form__toggle {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.search-form__toggle+.search-form__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 14px;
  line-height: 1.29;
}

.search-form__toggle+.search-form__label::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../../images/toggle_off.svg);
}

.search-form__toggle:checked+.search-form__label::before {
  background-image: url(../../../images/toggle_on.svg);
}

.search-form__horizontal-line {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  border-width: 0;
  border-top: 1px;
  border-style: solid;
  border-color:  #424242;
}

@media (max-width: 900px) {
  .search-form__input:last-of-type {
    margin-bottom: 50px;
  }
}

@media (max-width: 424px) {
  .search-form__search-field {
    text-indent: 19px;
    font-size: 11px;
    line-height: 1.55;
  }
}

@media (max-width: 320px) {
  .search-form__input {
    max-width: 292px;
  }
}