.filter-checkbox__container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.filter-checkbox__checkbox {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.filter-checkbox__checkbox+.filter-checkbox__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 14px;
  line-height: 1.29;
}

.filter-checkbox__checkbox+.filter-checkbox__label::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../../../images/toggle_off.svg);
}

.filter-checkbox__checkbox:checked+.filter-checkbox__label::before {
  background-image: url(../../../../images/toggle_on.svg);
}

@media (max-width: 424px) {
  .filter-checkbox__checkbox+.filter-checkbox__label {
    font-size: 11px;
    line-height: 1.64;
  }
}